@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body {

    background-image: url("https://i.pinimg.com/originals/2b/de/7d/2bde7d14133968f97d6c4dd898edb989.gif");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.taskbar {
    display: flex;
    align-items: center;
    background-color: #8b0f70ae;
    gap: 10px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;

}

.icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-content: center;
    justify-content: center;
    margin: 0px;
    cursor: pointer;

}

.taskbar .apps {
    display: flex;
    margin-right: auto;
    margin-left: 2.8%;
}

.apps.apps:click {
    transform: scale(1.5);
}

.taskbar .time {
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    font-size: 13px;
    font-family: Segoe UI;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(255, 0, 0);
    padding: 10px;
    margin: 10px;
}

.desktop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}



#trashbin {
    background-image: url('/images/trash-bin.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#vscode {
    background-image: url('/images/vscode.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#steam {
    background-image: url('/images/steam.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#discord {
    background-image: url('/images/discord.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#windowsicon {
    background-image: url('/images/windows-icon.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#cmd {
    background-image: url('/images/cmd.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#node {
    background-image: url('/images/postit.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#explorer {
    background-image: url('/images/explorer.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#chrome {
    background-image: url('/images/chrome.png');
    background-size: cover;
    transform: scale(0.7);
    background-repeat: no-repeat;
    border: 6px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.icon:hover {
    background-color: #e0d7d730;
    transition: 0.3s;
}

.post {
    /*postit*/
    position: absolute;
    top: 20%;
    left: 80%;
    height: 250px;
    width: 200px;
    padding: 15px;
    font-family: fantasy;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 251, 0);
    border-radius: 5px;
}

.title {
    font-size: 24px;
    color: #000000;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.textarea {
    font-family: fantasy;
    position: relative;
    width: 180px;
    height: 180px;
    /* Höhe des Textfelds */
    padding: 10px;
    font-size: 16px;
    resize: none;
    background-color: yellow;
    border: 0px solid rgb(255, 0, 0);
    outline: none;
    overflow-y: scroll;
}

.textarea::-webkit-scrollbar {
    display: none;
}




.terminal {
    /*Terminal*/
    /*visibility: hidden;*/
    position: absolute;
    left: 10%;
    width: 40%;
    height: 550px;
    padding: 10px;
    resize: none;
    max-width: 40%;
    border-radius: 8px;
    overflow: hidden;
    border: 0px solid #0000008f;
    background-color: #0000008f;
    font-size: 15px;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.5);

}


.terminal-header {
    position: sticky;
    left: 5px;
    background-color: #0000008f;
    color: #fff;
    text-align: center;
    width: 40%;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.terminal-body {
    border-radius: 8px;
    position: absolute;
    left: 3px;
    right: 3px;
    padding: 15px;

    white-space: nowrap;
    word-break: break-all;
    background-color: #0000008f;
    color: #ffffff;
    height: 100%;
    max-height: calc(100% - 55px);
    width: calc(100% - 36px);
    overflow-y: auto;
    overflow: auto;
    font-family: 'Cascadia Code', monospace;
}

.terminal-body::-webkit-scrollbar {
    max-height: 50%;
    height: 50%;
}


.terminal-body div {
    font-family: 'Cascadia Code', monospace;
    padding-bottom: 5px;
}


.input-line {
    font-size: 15px;
    margin-top: -20px;
    height: 1px;
    width: 95%;
    display: flex;
    align-items: center;
    font-family: 'Cascadia Code', monospace;
    padding: 10px;
}

#commandInput {
    font-size: 15px;
    background: none;
    color: #fff;
    width: 100%;
    outline: none;
    border: none;
    
}
#output{
    color:white;
    padding: 10px;
}



.input-line input[type="text"] {
    font-family: 'Cascadia Code', monospace;
    font-size: 14px;

}

.input-line span {
    margin-top: 25px;
    margin-top: 25px;
    font-family: 'Cascadia Code', monospace;
}

.fileexplorer {
    visibility: hidden;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    left: 20%;
    position: relative;
    background-color: rgba(60, 57, 57, 0.889);
    height: 500px;
    width: 800px;
    color: white;
}

.dragTab {
    position: absolute;

    top: 30px;
    margin-left: 25%;
    width: 75%;
    height: 100%;
    border-bottom-right-radius: 8px;
}

.filetab {
    position: absolute;
    background-color: #120e0eea;
    margin-top: 5px;
    margin-left: 5px;
    width: 20%;
    height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: white;
}.filetab:hover{
    background-color: #e0d7d730;
}

.files {
    display: block;

    position: absolute;
    top: 30px;
    width: calc(20% + 18px);
    height: 100%;
    border-bottom-left-radius: 8px;
    height: calc(100% - 30px);
}

.filesNames {
    display: block;
    position: absolute;
    text-align: left;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.filesNames p {
    margin: 3px;
    padding: 5px;
    border-radius: 5px
}

.filesNames p:hover {
    background-color: #e0d7d730;
    border-radius: 5px;
    transition: 0.3s;
}


.exploSeperationDown {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 2px;
    height: calc(100% - 33px);
    margin-left: calc(21% + 2px);
}

.exploSeperationSide {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 100%;
    margin-top: 30px
}