body {
  background-color: rgb(8, 21, 104);
  font-family: Terminal;

}

.button-inv {
  font-family: Terminal;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.btn:hover {
  background: #eee;
}

a {
  color: inherit;
}

h1 {
  padding-top: 16%;
  color: white;
  text-align: center;
  font-size: 40px;
}


h2 {
  text-align: center;
  display: inline;
  color: white;
  font-family: Lucida Console;
}

p {
  color: white;
  margin-left: 50px;
  font-size: 25px;
}

.row {
  white-space: nowrap;
}

.test>div {
  width: 300px;
  display: inline-block;
}

.single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}

.mid {
  text-align: center;
}